/* Remove the navbar's default margin-bottom and rounded borders */

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}


/* Add a gray background color and some padding to the footer */

.but01 a:link,
a:visited {
    font-family: "TH SarabunPSK", Times, serif;
    font-size: 25px;
    padding: 25px;
    border-radius: 20px;
    color: black;
    text-decoration: none;
}

.jumbotron {
    font-family: "TH SarabunPSK", Times, serif;
    font-size: 15px;
}

th,
td {
    border: 1px solid black;
    text-align: center;
    font-size: 20px;
}

.day {
    color: #FFFFFF;
}

.day1 {
    background: #d9d9d9;
}

.mycolor {
    background: #66a3ff;
}